/* Add a black background color to the top navigation */
body {
  overflow: hidden;
}

#topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
#topnav a {
  transition: background-color 0.75s;

  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
#topnav a:hover {
  transition: background-color 0.75s;

  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
#topnav a.active {
  background-color: #04aa6d;
  color: white;
}

#nnImg,
#carImg,
#gameImg {
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;

  width: 30%;
}

#flexCenter {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;

  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  z-index: -1;
}

#displayContainer {
  text-align: center;

  width: 70vw;
  height: 75vh;
}

li {
  font-size: 20px;
}

h3 {
  text-decoration: underline;
}
